*, *::before, *::after {
    box-sizing: border-box;
}

body {
    max-width: min(calc(100% - 1em), 70em);
    margin-inline: auto;
}





table {
    border-collapse: collapse;
}

th {
    padding: .5em;

    background-color: black;
    color: white;

    border: 1px solid white;
}

td {
    padding: .5em;

    color: black;

    border: 1px solid black;
}

tr:hover {
    background-color: lightblue;

    cursor: pointer;
}



.input-text {
    padding: .5em;
}



.image-container {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.image-item-holder {
    position: relative;
}

.image-item {
    width: 300px;
    aspect-ratio: 5 / 4;

    object-fit: cover;
}



.button {
    padding: .5em 1.5em;
    margin: 0;

    background-color: darkslategray;
    color: white;

    border: none;

    cursor: pointer;
    user-select: none;
}

.remove-button {
    padding: .5em;

    position: absolute;
    top: .5em;
    right: .5em;

    background-color: rgb(255, 255, 255, .5);
    color: black;

    border: none;

    cursor: pointer;
    user-select: none;
}

.remove-button:hover {
    background-color: red;
    color: white;
}





#uploaded-image-container > :first-child {
    outline: .25em solid red;
}

#uploaded-image-container > :not(:first-child) img:not(.no-select) {
    padding: .3em;
}

#uploaded-image-container > :not(:first-child) img:not(.no-select):hover {
    padding: 0;
}
